{% with name="Tutorial Overview" %}
{% include "header.html" %}
{% endwith %}
<table class="table table-borderless table-sm ms-2">
    <thead>
        <tr>
            <th scope="col">Student</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        <tr>
            <th scope="row">{{ entry.student }} {{"P" if entry.presented else ""}}</th>
            <td>{{ entry.date }}</td>
            <td>{{ entry.presented }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "footer.html" %}