{% with name="Scan QR Code" %}
{% include "header.html" %}
{% endwith %}
<div class="card rounded-3 p-2 border-0 mt-2">
    <div class="card-body">
        <div id="warning" class="alert alert-warning invisible" role="alert" >
            ..
        </div>
        <div id="success" class="alert alert-success invisible" role="alert" >
            ..
        </div>
        <form action="" method="post" id="form">
            <div class="mb-3">
                <label for="name" class="form-label">RZ account</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="name_help" required>
                <div id="name_help" class="form-text text-danger">
                    only use if qr does not work; manually add the student by rz account
                </div>
                <label class="form-check-label" for="presented">student presented</label>
                <input type="checkbox" class="form-check-input" name="presented" id="presented"  aria-describedby="presented_help">
                <div id="presented_help" class="form-text text-danger">
                    only click this if the student presented their work
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
            <br>
            <br>
            <h>or scan QR code</h>
            <br>
            <br>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/qr-scanner/1.4.2/qr-scanner.umd.min.js"
                integrity="sha512-a/IwksuXdv0Q60tVkQpwMk5qY+6cJ0FJgi33lrrIddoFItTRiRfSdU1qogP3uYjgHfrGY7+AC+4LU4J+b9HcgQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <video id="qr" style="width: 100%;"></video>
            <script>
                function sleep(milliseconds) {
                    return new Promise(resolve => setTimeout(resolve, milliseconds));
                }

                const url = new URL(window.location.href);
                const warning = url.searchParams.get("warning");
                const student = url.searchParams.get("student");
                
                if (warning != null) {
                    if (warning == "1") {
                        document.getElementById("warning").innerText = "student has not yet joined the course on git!"
                        document.getElementById("warning").classList.remove("invisible")
                    } else if (warning == "2") {
                        document.getElementById("warning").innerText = "student has already participated in tutorial this week (if you try to scan for presentation status, you probably already clicked it before)"
                        document.getElementById("warning").classList.remove("invisible")
                    } else if (warning == "3") {
                        document.getElementById("success").innerText = "student got registered as presenting student for this week subsequently"
                        document.getElementById("success").classList.remove("invisible")
                    }
                }

                if (student != null) {
                    document.getElementById("success").innerText = "successfully scanned " + student
                    document.getElementById("success").classList.remove("invisible")
                }

                const video = document.getElementById('qr');
                const scanner = new QrScanner(
                    video,
                    result => {
                        document.getElementById("name").value = result.data
                        video.hidden = true
                        scanner.stop()
                        setTimeout(function () {
                            document.getElementById('form').submit();
                        }, 500)
                    },
                    {
                        highlightCodeOutline: true,
                        maxScansPerSecond: 1
                    },
                );
                scanner.start();
            </script>
        </form>
    </div>
</div>
{% include "footer.html" %}